:root {
    --header-height: 100px;
}

@font-face {
    font-family: 'open_sans';
    src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    margin: 0;
    padding: 0;
}

header, footer, main {
    display: flex;
    justify-content: center;
}

header {
    height: var(--header-height);
}

main {
    min-height: calc(100% - var(--header-height));
}

body { 
    font-family: open_sans;
    background: #222;
    color: white; 
}

.site-footer {
    color: #898989;
    background: #222;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.split-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.split-2 > * {
    width: 50%;
}

.login-btn-container {
    margin-top: 5rem;
    justify-content: center;
    display: flex;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-3 {
    margin-top: 3rem;
}

.description-container img {
    padding-left: 3rem;
}

.description {
    padding: 3rem;
}

a {
    color: #0095ef;
}